::ng-deep.modal-backdrop.fade{
    opacity: 0 !important;
}

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 80%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    /* max-height: calc(100% - 120px); */
    overflow-y: scroll;
}

::ng-deep.modal-backdrop {
    position: unset !important;
}

